#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"
      #ifndef VERSION_MACRO

        macro_ver: macro_ver {
            compatible = "zmk,behavior-macro";
            label = "macro_version";
            #binding-cells = <0>;
            bindings = <&kp RET>;
        };

        #endif

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    macros {
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp EQUAL  &kp N1     &kp N2    &kp N3    &kp N4     &kp N5  &tog 0                                                    &mo 0          &kp N6  &kp N7  &kp N8     &kp N9    &kp N0         &kp MINUS
&kp TAB    &kp Q      &kp W     &kp F     &kp P      &kp B   &none                                                     &none          &kp J   &kp L   &kp U      &kp Y     &kp SEMICOLON  &kp BSLH
&kp ESC    &kp A      &kp R     &kp S     &kp T      &kp G   &none      &kp LCTRL  &kp LALT      &kp LGUI   &kp RCTRL  &none          &kp M   &kp N   &kp E      &kp I     &kp O          &kp SQT
&kp LSHFT  &kp Z      &kp X     &kp C     &kp D      &kp V                         &kp HOME      &kp PG_UP                            &kp K   &kp H   &kp COMMA  &kp DOT   &kp FSLH       &kp RSHFT
&none      &kp GRAVE  &kp CAPS  &kp LEFT  &kp RIGHT          &kp SPACE  &kp TAB    &kp END       &kp PG_DN  &kp ENTER  &kp BACKSPACE          &kp UP  &kp DOWN   &kp LBKT  &kp RBKT       &mo 0
            >;
        };

        Nav {
            bindings = <
&trans  &trans        &trans        &trans     &trans          &trans  &trans                                      &trans  &trans      &trans          &trans          &trans        &trans           &trans
&trans  &trans        &trans        &trans     &trans          &trans  &trans                                      &trans  &kp K_REDO  &kp K_PASTE     &kp K_COPY      &kp K_CUT     &kp K_UNDO       &trans
&trans  &kp LEFT_WIN  &kp LEFT_ALT  &kp LCTRL  &kp LEFT_SHIFT  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &kp CAPS    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans
&trans  &trans        &trans        &trans     &trans          &trans                  &trans      &trans                  &kp INS     &kp HOME        &kp PAGE_DOWN   &kp PG_UP     &kp END          &trans
&trans  &trans        &trans        &trans     &trans                  &trans  &trans  &trans      &trans  &trans  &trans              &trans          &trans          &trans        &trans           &trans
            >;
        };
    };
};
